# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Thumbs.db # Windows specific

# Vite specific (inside client folder)
client/dist/
client/.vite/

# VS Code
.vscode/

# Compiled output
/build
/dist